<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
          <br>

                                        <a href="compose"><strong>Compose</strong></a>
                                        <br><br>
                                        <a href="inbox"><strong>Inbox</strong></a>
                                        <a href="sent"><strong>Sent</strong></a>
                                        <br><br>
                                        <strong><font color="#0560A6">Meet</font></strong>
                                        <ul class="a">
                                        <li><a href="#">New meeting</a></li>
                                        <li><a href="#">Join a meeting</a></li>
                                        </ul>
                                        <br>


                                        <br>
                                    <a href="logout" color="black"><strong>Logout</strong></a>

</body>
</html>